.hero__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__logo {
  height: 10rem;
}

.hero__text {
  color: var(--c-white);
}
