:root {
  /* Font-family */
  --ff-special: "Pacifico", cursive;
  --ff-default: "Nunito Sans", sans-serif;

  /* Colors */
  --c-green: #1a5451;
  --c-yellow: #b59932;
  --c-blue: #448cce;
  --c-white: #eeeadc;
  --c-dark-white: #e4dfcb;
}
